<div style="background-color: yellow;">
  <p>Abriu dialog</p>

  <div>Dados</div>
  <p>{{data.name}}</p>

  <mat-dialog-content>
    <p>dsadasdasdasdsada sdasdasdsadasdasdasdsadasdasdas dsadasdasdasdsadasdasdasdsada sdasdasdsadasdasdasd sadasdasdasdsadasdasdasdsadasd asdasdsadasdasdasdsadasdasdasds adasdasdasdsadasdasdasdsadasdasdasdsadas dasdasdsad asdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasda sdasdsadasdasdasdsadasdasda sdsadasdasdasd sadasdasdasdsad asdasdasdsadasd asdasdsadasda sdasdsadasdasdasdsa dasdasdasdsadasdasdasdsadasd asdasdsadasdasdasdsa dasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdasdsadasdasdas</p>
  </mat-dialog-content>


  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="true">Delete</button>
  </mat-dialog-actions>
</div>
